*{

    outline: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.nav{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9  ;
}

.nav-list{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 28px;
}


.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover{
    color: #ffff;
}

/*fim header
/*fim main */

body.todo-list{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#todo-app{
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba (0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}

h1.todo-list-h1{
    color: #000;
}

ul.todo-list-ul{
    color: #000;
}

body.anotacoes-html{
    background-color: #000;
    align-items: center;
    padding: 0;
    outline: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

h1.apresentacao{
    color: #000;
    font-size: 14px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
}